<form class="login-input" {{on "submit" this.login}}>
  <div>
    <label id="username-label">Username: </label>
    <input type="text" id="username" value="" />
  </div>
  <div>
    <label id="password-label">Password: </label>
    <input type="text" id="password" value="" />
  </div>
  <button id="login-button" type="submit">Login</button>
  {{#if this.wrongUser}}
    <p>Wrong username/password, try Again!</p>
  {{/if}}
</form>