.contact-info {
  text-align: center;
  margin-top: 50px; /* Adjust the margin as needed */
}

.contact-info h3 {
  font-size: 28px;
  color: rgb(232 208 186);
  margin-bottom: 20px; /* Add space between heading and contact details */
}

.contact-info p {
  font-size: 20px;
  color: rgb(232 208 186);
  margin-bottom: 10px; /* Add space between contact details */
}
