<div class="about">
  <p>
    Step into Botdistrikt Cafe, where culinary norms are left behind.
  </p>
  <p>
    From peculiar ingredients to mind-bending flavors, each bite is a journey
    into the extraordinary.
  </p>
  <div class="my-photo">
    <img src="/assets/images/sanji_cook.jpeg" alt="Image Description" />
    <p>Head Chef Sanji</p>
  </div>
</div>