<div class="home-content">
  <h2>Welcome to Botdistrikt Cafe!</h2>
  <p>Explore our latest offerings and discover the extraordinary!</p>
  <img src="/assets/images/botdistrikt.png" alt="chicken rice" />
  <LoginMessage />
</div>